html {
    font-size: 62.5%;
}

.wrapper {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
}

body {
    background: $color-light-blue;
    @include fluid-font-size(1.6px, 2px);
    letter-spacing: 0.01rem;
    font-family: $font-body;
    height: 100%;
}

header {
    height: 100vh;
    position: relative; 
    padding-top: 50px;
    background-size: cover;
    background-position: center;

    @include tablet-MQ {
        & {
            height: 50vh;
        }
    }
}

h1, h2, h3, h4, .button, input[type=submit] {
    text-transform: uppercase;
    font-family: $font-headers;
    font-style: italic;
}

h1 {
    color: $color-white;
    @include fluid-font-size(3.95px, 7.9px);
    width: 50%;
    text-shadow: 1px 2px 0 $color-dark-blue, 
}

h2 {
    @include fluid-font-size(2.25px, 4.5px);
}

h3 {
    @include fluid-font-size(2px, 4px);
    letter-spacing: 0.013rem;
    line-height: 5.8rem;
    color: $color-dark-blue;
}

h2, h3 {
    margin: 1.5rem 0;

    @media (max-width: 750px) {
        margin: 1rem 0;
    }
}

h4 {
    @include fluid-font-size(1.8px, 2.5px);
    letter-spacing: 0.08rem;
    color: $color-yellow;
}

h5 {
    @include fluid-font-size(1.6px, 2px);
    letter-spacing: 0.01rem;
    font-family: $font-body;
    color: $color-dark-blue;
    font-weight: bold;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

nav {
    @include flex-wrap;

    ul {
        margin: 0;
        padding: 0;
        display: flex;
    }

    li {
        margin-right: 25px;
    }

    a {
        font-family: $font-body;
        font-size: 2rem;
        font-weight: bold;
        line-height: 2.9rem;
        letter-spacing: 0.01rem;
        color: white;
        position: relative;
    }

    //animated underline on hover
    a:after {
        content: '';
        height: 2px;
        position: absolute;
        bottom: -5px;
        background: $color-yellow; 
        width: 0;
        left: 50%;
        transition: width 0.3s, left 0.3s;
    }
    
    li:hover a:after, li:focus a:after {
        width: 100%;
        left: 0;
    }

    /* hamburger menu */
    .fa-bars {
        display: none;
        color: $color-yellow;
        font-size: 30px;
        margin-left: auto;
    }
    
    /* mobile navigation */
    @include phone-MQ {
        & ul {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            background: $color-dark-blue;
            position: fixed;
            z-index: 5;
            width: 180px;
            right: -180px;
            top: 0;
            height: 100%;
            padding: 50px 0;
            transition: right 0.3s;
        }
        
        & a {
            display: inline-block;
            margin: 20px;
            margin-left: 50px;
            transition: all 0.3s;
        }
        
        & .mobile-menu {
            display: inline-block;
            position: fixed;
            top: 15px;
            right: 0;
            padding: 10px;
            margin-right: 20px;
            color: white;
            z-index: 10;
        }
        
        /* hamburger menu */
        & .fa-bars {
            display: unset;
        }
    
        & input[type="checkbox"]:checked + ul {
            right: 0;
        }
    }
    
}

.button {
    font-size: fluid-font-size(1.8px, 2.5px);
    background-color: $color-yellow;
    color: $color-dark-blue;
    padding: 1rem;
    border: solid $color-yellow 4px;
    transition: all 0.3s;
}

.button:hover, .button:focus {
    background-color: $color-white;
}

form {
    input[type=text],
    textarea {
        font-family: $font-body;
        letter-spacing: 0.1rem;
    }

    ::placeholder, /* Chrome, Firefox, Opera, Safari 10.1+ */
    :-ms-input-placeholder, /* Internet Explorer 10-11 */
    ::-ms-input-placeholder /* Microsoft Edge */ { 
    color: black;
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 1; /* Firefox */
    }

    .form-group {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6%;

        input[type=text],
        textarea {
            padding: 4%;
        }
        
        textarea, input[type=submit] {
            width: 100%;
        }

        input[type=text] {
            width: 48%;
            height: 60px;
            border: 0;
            border-bottom: 2px solid $color-yellow;
        }
        
        textarea {
            border: 2px solid $color-yellow;
            resize: none;
        }

        input[type=submit] {
            height: 50px;
        }
    }
      
      
}

footer {
    background-color: $color-yellow;
    p {
        padding: 20px 0;
        text-align: center;
        color: $color-dark-blue
    }

    a {
        color: inherit;
    }
}
