html {
    font-size: 62.5%;
}

.wrapper {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
}

body {
    background: $color-light-blue;
    @include fluid-font-size(1.6px, 2px);
    letter-spacing: 0.01rem;
    font-family: $font-body;
}

header {
    height: 100vh;
    background-size: cover;
    background-position: center;
}

h1, h2, h3, h4, .button {
    text-transform: uppercase;
    font-family: $font-headers;
    font-style: italic;
}

h1 {
    color: $color-white;
    @include fluid-font-size(3.95px, 7.9px);
    width: 50%;
}

h2 {
    @include fluid-font-size(2.25px, 4.5px);
}

h3 {
    @include fluid-font-size(2px, 4px);
    letter-spacing: 0.013rem;
    line-height: 5.8rem;
    color: $color-dark-blue;
}

h2, h3 {
    margin: 1.5rem 0;

    @media (max-width: 750px) {
        margin: 1rem 0;
    }
}

h4 {
    font-size: 2.5rem;
    line-height: 5.8rem;
    letter-spacing: 0.08rem;
    color: $color-yellow;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

header {
    padding-top: 50px;
    height: 75vh;
}

nav {

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
    }

    a {
        font-family: $font-body;
        font-size: 2rem;
        font-weight: bold;
        line-height: 2.9rem;
        letter-spacing: 0.01rem;
        color: white;  
    }
}

.button {
    font-size: 2.5rem;
    background-color: $color-yellow;
    color: $color-dark-blue;
    padding: 1rem;
    border: solid $color-yellow 4px;
    transition: all 0.3s;
}

.button:hover, .button:focus {
    background-color: $color-white;
}

footer {
    background-color: $color-yellow;
    p {
        padding: 20px 0;
        text-align: center;
        color: $color-dark-blue
    }

    a {
        color: inherit;
    }
}
