.blog header {
    background-image: url("./../assets/blog-header.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.blog main {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 100px;
}

.blog .blog-container {
    width: 65%;
    border-left: 2px solid $color-yellow;
    border-bottom: 2px solid $color-yellow;

    .image-container {
        background: $color-yellow;

        img {
            position: relative;
            right: -20px;
            top: -20px;
        }
    }

    .text-container {
        padding: 50px 50px 50px 100px;

        p {
            margin-bottom: 20px;
        }
    }
}

.blog aside {
    width: 35%;
    // padding-left: 80px;
    margin: 80px;
    background-color: $color-dark-blue;
    height: 100%;

    .image-container {
        position: relative;
        left: -60px;
    }

    .text-container {
        background-color: $color-dark-blue;
        color: $color-white;
        width: 80%;
        padding-bottom: 20px;
        margin: 0 auto;

        h4 {
            margin-top: 20px;
        }

        p {
            padding-bottom: 10px;
        }

        ul li {
            list-style: inside;
        }
    }
}
