.blog { 
    
    header {
        background-image: url("./../assets/blog-header.jpg");

        .header-container {
            height: 90%; 
            display:flex;
            align-items: center;
        }
    }

    main {
        display: flex;
        flex-wrap: wrap; // *** added wrap (can replace this and above with @include flex-wrap mixin
        justify-content: flex-end; 
        
    }

    .blog-container {
        width: 65%;
        
        position: relative;
        margin-top: -100px;
        

        .image-container {
            background: $color-yellow;

            img {
                position: relative;
                top: -20px;
                right: -20px;
            }
        }

        .text-container {
            padding: 50px 75px 50px 100px;
            border-left: 2px solid $color-yellow;
            border-bottom: 2px solid $color-yellow;

            p {
                margin-bottom: 20px;
            }
        }
    }

    aside {
        width: calc(35% - 160px); 
        background-color: $color-dark-blue;
        height: 100%;

        .image-container {
            position: relative;
            @include wrapper-margin(left, 0.08);
            width: 130%; /*Is there a better way to do this*/
            top: -20px;
        }

        .text-container {
            background-color: $color-dark-blue;
            color: $color-white;
            width: 80%;
            padding-bottom: 8%;
            margin: 0 auto;

            h4 {
                margin-top: 20px;
            }

            p {
                padding-bottom: 4%;
            }

            ul li {
                list-style: inside;
            }
        }
    }

    .comments-container {
        width: 65%;
        padding: 50px 75px 50px 100px;
        
        .comments {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 350px;
        }
    
        .comment-container {
            display: flex;

            .text-container {
                padding: 0 4%;
            }

            .image-container {
                width: 50%;
            }
        }
    }

    form {

        margin-top: 80px;

        .form-group {
            input[type=text],
            textarea {
                background-color: $color-light-blue;
                color: #000000;
            }

            //**** added button format mixin
            // input[type=submit] {
            //     background-color: $color-dark-blue;
            //     color: $color-yellow;
            // }
        }


    }

    //*** added below...but think it needs to wrap sooner or maybe we can reduce padding at a larger breakpoint and then drop to one column around tablet size?
    @include tablet-MQ {
        .blog-container, .comments-container, aside {
            width: 100%;
        }
    }

}
