.contact {
    //|||| HEADER ||||
    header {
        background-image: url(./../assets/contact-header.jpg);

        .header-container {
            height: 90%; 
            display: flex;
            align-items: center;
        }
    }

    //|||| MAIN ||||
    main {
        display: flex;

        //re-arranges order
        @include tablet-MQ {
            & {
                flex-direction: column;
                main :nth-child(1) {
                    order: 2;
                } 
            }
        }
    
        //|||| ASIDE ||||
        aside {
            width: 35%;
            margin-top: 10%;
            padding-left: 4%;

            //resets padding
            @include laptop-MQ {
                & {
                    padding-left: 0;
                }
            }

            //resets margin, adjusts width, reorders elements
            @include tablet-MQ {
                & {
                    margin: 0;
                    width: 100%;
                    order: 2;
                }
            }

            .social-media  {
                width: 30%;
                margin-bottom: 1%;

                //adjusts width and centers
                @include tablet-MQ {
                    & {
                        width: 50%;
                        margin: 0 auto;
                    }
                }

                ul {
                    display: flex;
                    justify-content: space-between;
                    
                    a {
                        color: $color-dark-blue;
                    }

                    //adjusts spacing
                    @include tablet-MQ {
                        & {
                            justify-content: space-evenly;
                        }
                    }
                }
            }

            .text-container {
                margin-top: 5%;

                //add spacing below
                p:nth-child(1) {
                    margin-bottom: 5%;
                }

                //changes to vertical design and centers
                @include tablet-MQ {
                    @include flex-wrap;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 5%;

                    p:nth-child(1) {
                        margin-bottom: 0;
                    }
                }
            }
        }    

        //|||| FORM |||||
        .form-container {
            width: 65%;
            z-index: 1;

            //box-shadow effect
            @include box-shadow-right;
            margin-top: -25vh;
            margin-bottom: 10%;

            //reduces box-shadow, adjusts width and margin
            @include tablet-MQ {
                & {
                    width: 100%;
                    margin-top: 10%;
                    @include box-shadow-right-small;
                }
            }

            //removes box shadow
            @include large-phone-MQ {
                & {
                    @include remove-box-shadow;
                }
            }
        }
            
        form {
            background-color: $color-dark-blue;
            padding: 80px 20px 20px 20px;
        }

        
        .form-group {
            @include small-phone-MQ {
                & {
                    display: block;
                }
            }
            
            input[type=text], textarea {
                background-color: $color-dark-blue;
                color: $color-white; 
            }
        }
    }    
}


