
.home {    
    
    header {
        background-image: url(./../assets/home-header.jpg);
        
        h1 {
            color: $color-yellow;
            margin-top: 35vh;

            @include tablet-MQ {
                & {
                    margin-top: 15vh;
                    width: 80%;
                    text-align: right;
                }
            }

            @include phone-MQ {
                & {
                    width: 100%;
                }
            }
        }

        .header-container {
            @include flex-wrap;
            @include tablet-MQ {
                & {
                    justify-content: center;
                }
            }
        }

        .image-container {
            width: 50%;
            position: absolute;
            bottom: -180px;
            right: 0;

            //hide header image
            @include tablet-MQ {
                & {
                    display: none;
                }
            }
        }
    }

    //set all images to centre in container
    .image-container {
        @include object-fit;

        img {
            width: 100%;
        }
    }
    
    //add bottom margin to all paragraphs
    p {
        margin-bottom: 40px;
    }

    //|||| SUMMARY SECTION ||||
    .summary {
        @include flex-wrap;
        margin-top: 185px;
        margin-bottom: 100px;
        
        p {
            margin-bottom: 10px;
        }

        //reduce bottom margin
        @include tablet-MQ {
            & {
                margin-top: 40px;
                margin-bottom: 40px;
            }
        }

        .text-container {
            position: relative;
            width: 50%;
            margin: 1.5rem 0;

            //wrap to single column
            @include tablet-MQ {
                & {
                    width: 100%;
                }
            }
        }

        i {
            background: $color-yellow;
            padding-top: 0.9rem;
            border-radius: 50%;
            position: absolute;
            top: 0.6rem;
            left: 0;
            width: 4rem;
            height: 4rem;
            text-align: center;
        }

        h2 {
            margin-right: 15px;
        }

        h2, p {
            padding-left: 50px;
        }
    }


    //|||| PROGRAMS + LOCATIONS SECTION ||||
    .programs-locations {
        background-color: $color-dark-blue;
        margin: 80px 0;

        p, h3 {
            color: $color-white;
        }

        p {
            margin-bottom: 30px;
        }

        //reduce margin, add bottom padding
        @include tablet-MQ {
            & {
                margin: 0;
                padding-bottom: 40px;
            }
        }

        .programs-container, .locations-container {
            @include flex-wrap;

            .image-container {
                position: relative;
                
                //unset image position
                @include tablet-MQ {
                    & {
                        width: 100%;
                        position: unset;
                    }
                }
            }
            
            .text-container {
                margin: auto auto;

                //reduce margin + padding, centre align
                @include tablet-MQ {
                    & {
                        margin: auto 0 0;
                        text-align: center;
                        padding-left: 0;
                    }
                }
            }
        }

        .image-container, .text-container {
            width: 50%;

            //wrap to single column
            @include tablet-MQ {
                & {
                    width: 100%;
                }
            }
        }

        //add top margin
        @include tablet-MQ {
            & .image-container {
                margin: 50px auto 20px;
                width: 95%;
            }
        }

        .programs-container {
            .image-container {
                top: -15%;   ///////////////// **** why is this only working manually in browser?? ****
                @include wrapper-margin(left, 0.08);
            }

            img {
                @include box-shadow-right;

                @include tablet-MQ {
                    & {
                        @include box-shadow-right-small;
                    }
                }
            }

            .text-container {
                padding-left: 100px;
            
                //reduce padding
                @include tablet-MQ {
                    & {
                        padding-left: 0;
                    }
                }
            }
            
        }

        .locations-container {
            .image-container {
                bottom: -15%;
                @include wrapper-margin(right, 0.08);
            }
            
            img {
                @include box-shadow-left;

                @include tablet-MQ {
                    & {
                        @include box-shadow-left-small;
                    }
                }
            }

            .text-container {
                padding-right: 100px;
                text-align: right;

                p {
                    text-align: left;
                }

                //reduce padding
                @include tablet-MQ {
                    & {
                        padding-right: 0;
                        text-align: center;
                        order: 1;
                    }

                    & p {
                        text-align: center;
                    }
                }
            }
        }

    }

    //|||| EXTRA VACATION DAYS SECTION ||||
    .vacation-days {
        margin: 0 auto;
        text-align: center;

        .text-container {
            padding: 50px 10px 100px;
        }

        p {
            text-align: left;
            margin-bottom: 30px;
        }

        @include tablet-MQ {
            & p {
                text-align: center;
            }

            & .text-container {
                padding: 20px 0 40px;
            }
        }

        .image-container {
            width: 100%;
        }
    }

    //|||| CONTEST DAYS SECTION ||||
    .contest {
        @include flex-wrap;
        align-items: center;

        .image-container {
            width: 35%;
            padding: 30px;
            padding-left: 0;
        }

        img {
            @include box-shadow-right;
        }

        .text-container {
            width: 65%;
            height: 100%;
            padding-left: 5%;
            margin: 0 auto;
        }

        //wrap to single column, hide image
        @include tablet-MQ {
            .text-container {
                width: 100%;
            }
            
            .text-container {
                text-align: center;
                padding: 0;
                padding-top: 20px;
            }

            .image-container {
                display: none;
            }
        }
    }

    //|||| IMAGE GALLERY SECTION ||||
    .gallery {
        background-color: $color-dark-blue;
        margin-top: 20px;
        padding: 35px 0;

        @include tablet-MQ {
            & {
                margin-top: 40px;
            }
        }
        
        .image-container {
            margin: 0 auto;
            @include flex-wrap;
        }

        li {
            width: calc((100% - 40px) / 3);
            margin-right: 20px;  
        }

        li:nth-of-type(3n) {
            margin-right: 0;
        }
        
        //hide the 3rd image
        @include tablet-MQ {
            li {
                width: calc((100% - 20px) / 2);
            }

            li:nth-of-type(2n) {
                margin-right: 0;
            }
            
            li:nth-of-type(3n) {
                display: none;
            }
        }

        //wrap images to one column
        @include phone-MQ {
            li {
                width: 100%;
            }

            li:nth-of-type(1n) {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
    }
}
        