/*Colour Palette*/
$light-blue: #EAFEFC; /*Ice Blue: #EAFEFC*/
$yellow: #FDD908; /*Dandelion: #FDD908*/
$dark-blue: #0D457F; /*Twilight Blue: #0D457F*/
$white: #FFFFFF; /*White: #FFFFFF*/

$im-fell-english: "IM FELL English", serif; 
$roboto: "Roboto", sans-serif;

