$color-light-blue: #EAFEFC; 
$color-yellow: #FDD908;
$color-dark-blue: #0D457F;
$color-dark-blue-opacity: rgba(13,68,127,0.75);
$color-white: white;

$font-body: "Roboto", sans-serif;
$font-headers: "IM Fell English", serif;